/* http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
}

/* Conf App style */
.header { padding-bottom: 4px; }
.pad-top { padding-top: 10px; }
.assoc-list { 
	background-color: #F5FCFF; 
	border-radius: 6px;
}

tr.row-odd { background-color:#E8E5FF; }
tr.row-even { background-color:#F3F2FF; }
tr.row-marker { background-color: #FFF5BF; }
tr.row-hover { background-color:#FDEBFF; } /* hover has to come after marker to override */

.table-header { font-weight:bold; }

a.linkcell { height:100%; display:block; padding:0; }
a.linkcell.text-success { color: #63D147 }
span.linkcell { height:100%; display:block; padding:0; }
span.linkcell.text-success { color: #63D147 }

.table-cell-reg a { display: table-cell; padding:0; color:#1F995C; text-align:center; }
.table thead tr th {padding: 3px}
.table tbody tr td {padding: 3px}

.table td.table-cell-bad-even { background-color:#FFCCFF; }
.table td.table-cell-bad-odd { background-color:#FFB3FF; }
.table td.code { border-left: 2px solid #7570FF; }

/*.table { display: table; margin-left: 0em; padding-left: 0px; border-collapse: collapse; }*/
/*a:link {color:#0066FF;} */     /* unvisited link */
/*a:visited {color:#0066FF;}*/  /* visited link */
a:hover {color:#4DAFFF;}  /* mouse over link */
a:active {color:#135C1D;}  /* selected link */

/* 	
	NAVBAR COLOURS, FONT AND SIZE 
	http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/
.navbar-default {
  background-color: #e0f4ff;
  border-color: #faebff;
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #31a4e8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #aa3dcc;
}
.navbar-default .navbar-text {
  color: #31a4e8;
}
.navbar-default .navbar-nav > li > a {
  color: #31a4e8;
  font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #aa3dcc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #aa3dcc;
  background-color: #faebff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #aa3dcc;
  background-color: #faebff;
}
.navbar-default .navbar-toggle {
  border-color: #faebff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #faebff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #31a4e8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #31a4e8;
}
.navbar-default .navbar-link {
  color: #31a4e8;
}
.navbar-default .navbar-link:hover {
  color: #aa3dcc;
}
.navbar-brand { font-size: 26px; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #31a4e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #aa3dcc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #aa3dcc;
    background-color: #faebff;
  }
}

