/* http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	color: #000;
	margin-bottom: 40px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
}

/* Conf App style */
.header { padding-bottom: 4px; }
.pad-top { padding-top: 10px; }
.assoc-list { 
	background-color: #F5FCFF; 
	border-radius: 6px;
}

tr.row-odd { background-color:#E8E5FF; }
tr.row-even { background-color:#F3F2FF; }
tr.row-marker { background-color: #FFF5BF; }
tr.row-hover { background-color:#FDEBFF; } /* hover has to come after marker to override */

.table-header { font-weight:bold; }
a {	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}
a.linkcell { height:100%; display:block; padding:0; }
a.linkcell.text-success { color: #63D147 }
span.linkcell { height:100%; display:block; padding:0; }
span.linkcell.text-success { color: #63D147 }

.table-cell-reg a { display: table-cell; padding:0; color:#1F995C; text-align:center; }
.table thead tr th {padding: 3px}
.table tbody tr td {padding: 3px}

.table td.table-cell-bad-even { background-color:#FFD9FF; }
.table td.table-cell-bad-odd { background-color:#FFF2FF; }
.table td.code { border-left: 2px solid #7570FF; }

/*.table { display: table; margin-left: 0em; padding-left: 0px; border-collapse: collapse; }*/
/*a:link {color:#0066FF;} */     /* unvisited link */
/*a:visited {color:#0066FF;}*/  /* visited link */
a:hover {color:#4DAFFF;}  /* mouse over link */
a:active {color:#135C1D;}  /* selected link */
